.main-content {
  margin: 2em;
}

.nav {
  color: red;
}

.nav-tabs {
  padding: 0.5em;
  justify-content: right;
  color: white;
}

#nav-items {
  color: white;
}

#page-header {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.me-info,
.hobby-info,
.work-info {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2rem;
}

#work-text-container {
  position: relative;
}

#work-text {
  position: relative;
  right: -20rem;
}

#about-image {
  height: 300px;
  width: 600px;
}

#coding-image {
  justify-content: center;
}

#footer {
  background-color: #1c2c5b;
  color: white;
  text-align: center;
  padding: 0.5em;
  font-size: 4em;
}

#navbar {
  background-color: #6cabdd;
  padding: 1em;
  font-size: 1.5em;
}

#nav-name {
  color: white;
}
