.main-content {
  margin: 2em;
}

.nav-tabs {
  padding: 0.5em;
}

#page-header {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.me-info,
.hobby-info,
.work-info {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2rem;
}

#work-text-container {
  position: relative;
}

#work-text {
  position: relative;
  right: -20rem;
}

#about-image {
  height: 300px;
  width: 600px;
}

#coding-image {
  justify-content: center;
}
